
// ---
// Layout
// ---

// Again, mobile first please! I don't want to see any kind of @media(max-width: poop) in here. 

// Note that you can totally integrate layout styles into your _content.scss instead, but I like to separate those styles. Personal preference.

// Read up on some grids here:
// http://web-design-weekly.com/2014/04/06/grid-frameworks-sass/

.container {
	width: 89.8%;
	margin:0 auto;

}



.rating {
  width:84px;
  background: url(http://ukcdn.ar-cdn.com/global/spriteGlobal.svg?v=457) no-repeat;
  height: 15px;
  clear:both;
}
.rating.rating0 {
 background-position: -740px -94px;
}
.rating.rating2{
  background-position: -706px -94px;
}
.rating.rating3{
  background-position: -689px -94px;
}
.rating.rating4{
  background-position: -672px -94px;
}
.rating.rating5{
  background-position: -655px -94px;
}

